@import url('./__text/footer__text.css');
@import url('./__title/footer__title.css');
@import url('./__wrapper/footer__wrapper.css');

.footer {
  width: 100%;
  height: 458px;
  background-color: #002051;
  color: #ffffff;
}
